<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="device-width, initial-scale=1.0">
        <title>Karnaboo platform</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css">
        <script defer src="script.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <div class="top">
                <div class="logo">
                    <i class="bx bxl-codepen"></i>
                    <span>Karnaboo platform</span>
                </div>
                <i class="bx bx-menu" id="btn"></i>
            </div>
            <div class="user">
                <img src="logo.png" alt="user picture" class="user-img">
                <div>
                    <p class="bold">{{username}}</p>
                    <p>{{username_description}}</p>
                </div>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <i class="bx bx-grid-alt"></i>
                        <span class="nav-item">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bxs-network-chart"></i>
                        <span class="nav-item">Topology</span>
                    </a>
                    <span class="tooltip">Topology</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-data"></i>
                        <span class="nav-item">Database</span>
                    </a>
                    <span class="tooltip">Database</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-code-block"></i>
                        <span class="nav-item">Logs</span>
                    </a>
                    <span class="tooltip">Logs</span>
                </li>
                <li>
                    <a href="#">
                        <i class="bx bx-power-off" style='color:#c21313'></i>
                        <span class="nav-item">Stop</span>
                    </a>
                    <span class="tooltip">Stop</span>
                </li>

            </ul>
        </div>
        
        <div class="main-content">
            <div class="container">
                <h1>Karnaboo server</h1>
                <h1>{{server_status}}</h1>
            </div>

            <div id="sigma-container"></div>
        </div>
    </body>
</html>